.nav-item:hover a {
    color:#E30613 !important;
}
form input:focus {
    box-shadow: 0 0 0 0 transparent !important;
}
form div {
    border: 1px solid #FFA3A8 !important ;
    color: #AEA9A9 !important   ;
    font-size: 14px;
    font-weight:Medium !important ;
    font-family: Montserrat !important;
}
.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #FFA3A8;
    border-radius: 25px;
    padding: 5px 10px;
    width: 300px;
    color: #B5B5B5 !important;
    font-family: Montserrat !important;
    font-size: 14px !important;
}
.sign{
    font-size: 5px !important;
    background-color: #3771C8;
    /* top: 0% !important; */
    transform: translateY(-130%) !important;
}
.search-container input {
    border: none;
    outline: none;
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
}
.search-container .icon {
    font-size: 20px;
    color: #888;
}
@media screen and (max-width:800px) {
    .navbar-nav.flexcenter {
       
        display: block !important;
    }
    
}